  <!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Music Maker</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}"> 
      <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/canvas.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/piano.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/instrument.css" %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    </head>
    <body>
        <div id="root" class="columns"></div>
        {% load staticfiles %}
        <script src="{% static "js/main.js" %}"></script>
    </body>

    </html>